# Use make omap2plus_defconfig omap4430.config to make use of this file.

# SoC
CONFIG_OMAP2_DSS_DEBUG=y
CONFIG_OMAP2_DSS_DEBUGFS=y
CONFIG_OMAP2_DSS_COLLECT_IRQ_STATS=y
CONFIG_OMAP2_DSS_DPI=y
CONFIG_OMAP_USB2=y
CONFIG_USB_MUSB_OMAP2PLUS=y
CONFIG_USB_GADGET=y
CONFIG_USB_MUSB_HDRC=y
CONFIG_USB=y
CONFIG_TWL6030_USB=y
CONFIG_DRM=y
CONFIG_DRM_SIMPLEDRM=y
CONFIG_DRM_PANEL_SAMSUNG_LD9040=y


# postmarketOS
CONFIG_MD=y
CONFIG_BLK_DEV_DM=y
CONFIG_CRYPTO_XTS=y
CONFIG_DM_CRYPT=y
CONFIG_UEVENT_HELPER=y
CONFIG_USER_NS=y
CONFIG_BLK_DEV_NBD=y
CONFIG_VETH=y
CONFIG_NF_CONNTRACK=y
CONFIG_BRIDGE=y
CONFIG_IP_VS=y
CONFIG_IP_NF_IPTABLES=y
CONFIG_NETFILTER_XT_TARGET_CHECKSUM=y
CONFIG_BRIDGE_NETFILTER=y
CONFIG_NETFILTER_XTABLES=y
CONFIG_NETFILTER_XT_MATCH_IPVS=y
CONFIG_DUMMY=y
CONFIG_BLK_DEV_THROTTLING=y
CONFIG_NET_CLS_CGROUP=y
CONFIG_IP_VS_NFCT=y
CONFIG_IP_VS_PROTO_TCP=y
CONFIG_IP_VS_PROTO_UDP=y
CONFIG_IP_VS_RR=y
CONFIG_EXT4_FS_POSIX_ACL=y
CONFIG_CHECKPOINT_RESTORE=y
CONFIG_DM_THIN_PROVISIONING=y
CONFIG_VXLAN=y
CONFIG_MACVLAN=y
CONFIG_CGROUP_NET_PRIO=y
CONFIG_OVERLAY_FS=y
CONFIG_IPVLAN=y
CONFIG_CGROUP_PIDS=y
CONFIG_BTRFS_FS=y
CONFIG_EXFAT_FS=y
CONFIG_F2FS_FS=y
CONFIG_CRYPTO_DES=y
CONFIG_CRYPTO_USER_API_HASH=y
CONFIG_CRYPTO_USER_API_SKCIPHER=y
CONFIG_KEY_DH_OPERATIONS=y
CONFIG_PKCS8_PRIVATE_KEY_PARSER=y
CONFIG_RFKILL=y
CONFIG_ANDROID_BINDER_IPC=y
CONFIG_ANDROID_BINDER_DEVICES="binder,hwbinder,vndbinder"
CONFIG_BPF_SYSCALL=y
CONFIG_CGROUP_BPF=y
CONFIG_FUSE_FS=y
CONFIG_PSI=y
CONFIG_SQUASHFS=y
CONFIG_SQUASHFS_XATTR=y
CONFIG_SQUASHFS_XZ=y
CONFIG_TUN=y
CONFIG_WIREGUARD=y
CONFIG_IP_ADVANCED_ROUTER=y
CONFIG_IP_MULTIPLE_TABLES=y
CONFIG_IPV6_MULTIPLE_TABLES=y
CONFIG_CRYPTO_LZ4=y

# For ISOREC
CONFIG_INITRAMFS_SOURCE="usr/initramfs.list"

CONFIG_CMDLINE=""
CONFIG_DVB_NET=n
CONFIG_DRM_PANEL_EDP=n
CONFIG_DRM_PANEL_SIMPLE=n
CONFIG_DRM_PANEL_DSI_CM=n
CONFIG_DRM_PANEL_LG_LB035Q02=n
CONFIG_DRM_PANEL_NEC_NL8048HL11=n
CONFIG_DRM_PANEL_SHARP_LS037V7DW01=n
CONFIG_DRM_PANEL_SONY_ACX565AKM=n
CONFIG_DRM_PANEL_TPO_TD028TTEC1=n
CONFIG_DRM_PANEL_TPO_TD043MTEA1=n
CONFIG_DVB_DYNAMIC_MINORS=n
CONFIG_VIDEO_IR_I2C=n
CONFIG_VIDEO_CAMERA_SENSOR=n
CONFIG_MEDIA_TUNER_E4000=n
CONFIG_MEDIA_TUNER_FC0011=n
CONFIG_MEDIA_TUNER_FC0012=n
CONFIG_MEDIA_TUNER_FC0013=n
CONFIG_MEDIA_TUNER_FC2580=n
CONFIG_MEDIA_TUNER_IT913X=n
CONFIG_MEDIA_TUNER_M88RS6000T=n
CONFIG_MEDIA_TUNER_MAX2165=n
CONFIG_MEDIA_TUNER_MC44S803=n
CONFIG_MEDIA_TUNER_MSI001=n
CONFIG_MEDIA_TUNER_MT2060=n
CONFIG_MEDIA_TUNER_MT2063=n
CONFIG_MEDIA_TUNER_MT20XX=n
CONFIG_MEDIA_TUNER_MT2131=n
CONFIG_MEDIA_TUNER_MT2266=n
CONFIG_MEDIA_TUNER_MXL301RF=n
CONFIG_MEDIA_TUNER_MXL5005S=n
CONFIG_MEDIA_TUNER_MXL5007T=n
CONFIG_MEDIA_TUNER_QM1D1B0004=n
CONFIG_MEDIA_TUNER_QM1D1C0042=n
CONFIG_MEDIA_TUNER_QT1010=n
CONFIG_MEDIA_TUNER_R820T=n
CONFIG_MEDIA_TUNER_SI2157=n
CONFIG_MEDIA_TUNER_SIMPLE=n
CONFIG_MEDIA_TUNER_TDA18212=n
CONFIG_MEDIA_TUNER_TDA18218=n
CONFIG_MEDIA_TUNER_TDA18250=n
CONFIG_MEDIA_TUNER_TDA18271=n
CONFIG_MEDIA_TUNER_TDA827X=n
CONFIG_MEDIA_TUNER_TDA8290=n
CONFIG_MEDIA_TUNER_TDA9887=n
CONFIG_MEDIA_TUNER_TEA5761=n
CONFIG_MEDIA_TUNER_TEA5767=n
CONFIG_MEDIA_TUNER_TUA9001=n
CONFIG_MEDIA_TUNER_XC2028=n
CONFIG_MEDIA_TUNER_XC4000=n
CONFIG_MEDIA_TUNER_XC5000=n
