// SPDX-License-Identifier: GPL-2.0-only

/dts-v1/;

#include "msm8916-samsung-gt5-common.dtsi"

/ {
	model = "Samsung Galaxy Tab A 8.0 (2015)";
	compatible = "samsung,gt58", "qcom,msm8916";
	chassis-type = "tablet";

	vibrator {
		compatible = "gpio-vibrator";
		enable-gpios = <&msmgpio 76 GPIO_ACTIVE_HIGH>;

		pinctrl-names = "default";
		pinctrl-0 = <&vibrator_en_default>;
	};
};

&msmgpio {
	vibrator_en_default: vibrator-en-default {
		pins = "gpio76";
		function = "gpio";

		drive-strength = <2>;
		bias-disable;
	};
};
