// SPDX-License-Identifier: GPL-2.0-only

/dts-v1/;

#include "msm8996-oneplus3.dtsi"

/ {
	model = "OnePlus 3";
	compatible = "oneplus,oneplus3", "qcom,msm8996";
	qcom,board-id = <8 0 15801 15>, <8 0 15801 16>;
	qcom,msm-id = <246 0x30001>;
	qcom,pmic-id = <0x20009 0x10013 0x0 0x0>;
};
