// SPDX-License-Identifier: GPL-2.0-only
/*
 * Copyright (c) 2020, The Linux Foundation. All rights reserved.
 */

/dts-v1/;

#include "msm8996.dtsi"
#include "pm8994.dtsi"
#include "pmi8994.dtsi"
#include <dt-bindings/input/input.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/qcom,pmic-gpio.h>
#include <dt-bindings/sound/qcom,q6afe.h>
#include <dt-bindings/sound/qcom,q6asm.h>

/ {
	model = "ZTE Axon 7";
	compatible = "zte,axon7", "qcom,msm8996";
	qcom,board-id = <100 0>;
	qcom,msm-id = <246 0x30001>;
	qcom,pmic-id = <0x20009 0x10013 0x0 0x0>;

	reserved-memory {
		ramoops {
			compatible = "ramoops";
			reg = <0 0xbfc00000 0 0x400000>;
			record-size = <0x20000>;
			console-size = <0x100000>;
			ftrace-size = <0x100000>;
			pmsg-size = <0x100000>;
		};

		cont_splash_mem: memory@83401000 {
			reg = <0x0 0x83401000 0x0 (1440 * 2560 * 3)>;
			no-map;
		};
	};

	/* WL_EN pin defined as a fixed regulator */
	wlan_en: wlan-en-1-8v {
		compatible = "regulator-fixed";
		regulator-name = "wlan-en-regulator";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;

		gpio = <&pm8994_gpios 8 0>;
		/* WLAN card specific delay */
		startup-delay-us = <70000>;
		enable-active-high;
		pinctrl-names = "default";
		pinctrl-0 = <&wlan_en_default>;
	};

	vph_pwr: vph-pwr-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vph_pwr";
		regulator-always-on;
		regulator-boot-on;

		regulator-min-microvolt = <3700000>;
		regulator-max-microvolt = <3700000>;
	};

	reg_panel_vdd3: regulator-panel-vdd3 {
		compatible = "regulator-fixed";
		regulator-name = "panel_vdd3";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;

		gpio = <&tlmm 40 GPIO_ACTIVE_HIGH>;
		enable-active-high;

		pinctrl-names = "default";
		pinctrl-0 = <&panel_vdd3_default>;
	};

};

&blsp2_i2c6 {
	status = "okay";

	touchscreen: synaptics-rmi4-i2c@20 {
		compatible = "syna,rmi4-i2c";
		reg = <0x20>;
		#address-cells = <1>;
		#size-cells = <0>;
		interrupts-extended = <&tlmm 125 0x2008>;
		pinctrl-names = "default", "sleep";
		pinctrl-0 = <&touch_default>;
		pinctrl-1 = <&touch_suspend>;
		vdd-supply = <&pm8994_l14>;
		vio-supply = <&pm8994_l22>;
		syna,reset-delay-ms = <100>;
		syna,startup-delay-ms = <100>;

		rmi4-f01@1 {
			reg = <0x1>;
			syna,nosleep-mode = <1>;
		};

		rmi4-f12@12 {
			reg = <0x12>;
			syna,sensor-type = <1>;
			touchscreen-x-mm = <68>;
			touchscreen-y-mm = <122>;
		};
	};
};

&dsi0 {
	status = "okay";

	vdda-supply = <&pm8994_l2>;
	vcca-supply = <&pm8994_l28>;

	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&mdss_dsi_default &mdss_te_default>;
	pinctrl-1 = <&mdss_dsi_sleep &mdss_te_sleep>;

	qcom,dual-dsi-mode;
	qcom,master-dsi;
	qcom,sync-dual-dsi;

	ports {
		port@1 {
			endpoint {
				remote-endpoint = <&panel0_in>;
				data-lanes = <0 1 2 3>;
			};
		};
	};

	panel: panel@0 {
		#address-cells = <1>;
		#size-cells = <0>;

		compatible = "samsung,s6e3ha3";
		reg = <0>;

		vddio-supply = <&reg_panel_vdd3>;
		vdda-supply = <&pm8994_l19>;

		reset-gpios = <&tlmm 8 GPIO_ACTIVE_LOW>;
		//enable-gpios = <&tlmm 40 0>;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				panel0_in: endpoint {
					remote-endpoint = <&dsi0_out>;
				};
			};

			port@1 {
				reg = <1>;
				panel1_in: endpoint {
					remote-endpoint = <&dsi1_out>;
				};
			};
		};
	};
};

&dsi0_phy {
	status = "okay";

	vdda-supply = <&pm8994_l2>;
	vcca-supply = <&pm8994_l28>;
};

&dsi0_out {
	remote-endpoint = <&panel0_in>;

};

&dsi1 {
	status = "okay";

	qcom,dual-dsi-mode;
	qcom,sync-dual-dsi;

	/* DSI1 is slave, so use DSI0 clocks */
	assigned-clock-parents = <&dsi0_phy 0>, <&dsi0_phy 1>;

	vdda-supply = <&pm8994_l2>;
	vcca-supply = <&pm8994_l28>;

	ports {
		port@1 {
			endpoint {
				remote-endpoint = <&panel1_in>;
				data-lanes = <0 1 2 3>;
			};
		};
	};

};

&dsi1_phy {
	status = "okay";

	vdda-supply = <&pm8994_l2>;
	vcca-supply = <&pm8994_l28>;
};

&dsi1_out {
	remote-endpoint = <&panel1_in>;
};

&mmcc {
	status = "disabled";
};

&mdp {
	status = "okay";
};

&mdss {
	status = "okay";
};

&mss_pil {
	status = "okay";

	pll-supply = <&pm8994_l12>;
};

&sdhc2 {
	status = "okay";

	// Detecting SD card does't work for now
	//cd-gpios = <&tlmm 95 GPIO_ACTIVE_LOW>;
	non-removable;
	vmmc-supply = <&pm8994_l21>;
	vqmmc-supply = <&pm8994_l13>;
};

&tlmm {
	gpio-reserved-ranges = <81 4>;

	mdss_dsi_default: mdss_dsi_default {
		pins = "gpio8";
		function = "gpio";
		drive-strength = <8>;
		bias-disable;
	};

	mdss_dsi_sleep: mdss_dsi_sleep {
		pins = "gpio8";
		function = "gpio";
		drive-strength = <2>;
		bias-pull-down;
	};

	mdss_te_default: mdss_te_default {
		pins = "gpio10";
		function = "mdp_vsync";
		drive-strength = <2>;
		bias-pull-down;
	};

	mdss_te_sleep: mdss_te_sleep {
		pins = "gpio10";
		function = "mdp_vsync";
		drive-strength = <2>;
		bias-pull-down;
	};

	panel_vdd3_default: panel-vdd3-default {
		pins = "gpio40";
		function = "gpio";
		drive-strength = <2>;
		bias-disable;
	};

	sdc2_cd_on: sdc2_cd_on {
		pins = "gpio95";
		function = "gpio";
		bias-disable;
		drive-strength = <16>;
	};

	sdc2_cd_off: sdc2_cd_off {
		pins = "gpio95";
		function = "gpio";
		bias-pull-up;
		drive-strength = <2>;
	};

	touch_default: touch_active {
		pins = "gpio89", "gpio125";
		function = "gpio";
		drive-strength = <16>;
		bias-pull-up;
	};

	touch_suspend: touch_suspend {
		pins = "gpio89", "gpio125";
		function = "gpio";
		drive-strength = <2>;
		bias-disable;
	};
};

&ufsphy {
	status = "okay";

	vdda-phy-supply = <&pm8994_l28>;
	vdda-pll-supply = <&pm8994_l12>;

	vdda-phy-max-microamp = <18380>;
	vdda-pll-max-microamp = <9440>;

	vddp-ref-clk-supply = <&pm8994_l25>;
	vddp-ref-clk-max-microamp = <100>;
	vddp-ref-clk-always-on;
};

&ufshc {
	status = "okay";

	vcc-supply = <&pm8994_l20>;
	vccq-supply = <&pm8994_l25>;
	vccq2-supply = <&pm8994_s4>;

	vcc-max-microamp = <600000>;
	vccq-max-microamp = <450000>;
	vccq2-max-microamp = <450000>;
};

&usb3 {
	status = "okay";

	qcom,select-utmi-as-pipe-clk;

	dwc3@6a00000 {
		dr_mode = "peripheral";

		/* usb3-phy is not used on this device */
		phys = <&hsusb_phy1>;
		phy-names = "usb2-phy";

		maximum-speed = "high-speed";
	};
};

&pcie0 {
	status = "okay";

	/* Supplied by vdd_3v3, but choose wlan_en to drive enable pin high */
	vddpe-3v3-supply = <&wlan_en>;
	vdda-supply = <&pm8994_l28>;

	perst-gpios = <&tlmm 35 GPIO_ACTIVE_LOW>;
	wake-gpios = <&tlmm 37 GPIO_ACTIVE_HIGH>;
};

&pcie_phy {
	status = "okay";
	vdda-phy-supply = <&pm8994_l28>;
	vdda-pll-supply = <&pm8994_l12>;
};

&hsusb_phy1 {
	status = "okay";

	vdda-pll-supply = <&pm8994_l12>;
	vdda-phy-dpdm-supply = <&pm8994_l24>;
};

&rpm_requests {
	pm8994-regulators {
		compatible = "qcom,rpm-pm8994-regulators";

		pm8994_s4: s4 {
			regulator-name = "pm8994_s4";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
		};

		pm8994_l2: l2 {
			regulator-name = "pm8994_l2";
			regulator-min-microvolt = <1250000>;
			regulator-max-microvolt = <1250000>;
		};

		pm8994_l12: l12 {
			regulator-name = "pm8994_l12";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
		};

		pm8994_l13: l13 {
			regulator-name = "pm8994_l13";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <2950000>;
		};

		pm8994_l14: l14 {
			regulator-name = "pm8994_l14";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
		};

		pm8994_l19: l19 {
        		regulator-name = "pm8994_l19";
        		regulator-min-microvolt = <3000000>;
        		regulator-max-microvolt = <3000000>;
		};

		pm8994_l20: l20 {
			regulator-name = "pm8994_l20";
			regulator-min-microvolt = <2950000>;
			regulator-max-microvolt = <2950000>;
			regulator-allow-set-load;
		};

		pm8994_l21: l21 {
			regulator-name = "pm8994_l21";
			regulator-min-microvolt = <2950000>;
			regulator-max-microvolt = <2950000>;
		};

		pm8994_l22: l22 {
			regulator-name = "pm8994_l22";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
		};

		pm8994_l24: l24 {
			regulator-name = "pm8994_l24";
			regulator-min-microvolt = <3075000>;
			regulator-max-microvolt = <3075000>;
		};

		pm8994_l25: l25 {
			regulator-name = "pm8994_l25";
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
			regulator-allow-set-load;
		};

		pm8994_l28: l28 {
			regulator-name = "pm8994_l28";
			regulator-min-microvolt = <925000>;
			regulator-max-microvolt = <925000>;
			regulator-allow-set-load;
		};
	};
};

&pm8994_gpios {
	wlan_en_default: wlan-en-default {
		pins = "gpio8";
		function = PMIC_GPIO_FUNC_NORMAL;
		output-low;
		qcom,drive-strength = <PMIC_GPIO_STRENGTH_LOW>;
		power-source = <PM8994_GPIO_S4>;
		bias-disable;
	};
};
