// SPDX-License-Identifier: GPL-2.0-only

/dts-v1/;

#include "msm8916-wingtech-wt865x8.dtsi"

/ {
	model = "Lenovo A6000 (Wingtech WT86518)";
	compatible = "wingtech,wt86518", "qcom,msm8916";
	chassis-type = "handset";
};

&pm8916_usbin {
	status = "okay";
};

&blsp_i2c2 {
	accelerometer@e {
		compatible = "kionix,kxcj91008";
		reg = <0xe>;

		vdd-supply = <&pm8916_l6>;
		vddio-supply = <&pm8916_l6>;

		mount-matrix = "0", "-1", "0",
			       "-1", "0", "0",
			       "0",  "0", "1";
	};
};

&reg_lcd_neg {
	regulator-min-microvolt = <5400000>;
	regulator-max-microvolt = <5400000>;
};

&reg_lcd_pos {
	regulator-min-microvolt = <5400000>;
	regulator-max-microvolt = <5400000>;
};

&usb {
	dr_mode = "peripheral";
	extcon = <&pm8916_usbin>;
};

&usb_hs_phy {
	extcon = <&pm8916_usbin>;
};
