// SPDX-License-Identifier: GPL-2.0-only
/*
 * Copyright (c) 2020, The Linux Foundation. All rights reserved.
 */

/dts-v1/;

#include "msm8996.dtsi"
#include "pm8994.dtsi"
#include "pmi8994.dtsi"
#include <dt-bindings/input/input.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/qcom,pmic-gpio.h>
#include <dt-bindings/sound/qcom,q6afe.h>
#include <dt-bindings/sound/qcom,q6asm.h>

/ {
	model = "ZTE Axon 7";
	compatible = "zte,axon7", "qcom,msm8996";
	qcom,board-id = <100 0>;
	qcom,msm-id = <246 0x30001>;
	qcom,pmic-id = <0x20009 0x10013 0x0 0x0>;

	reserved-memory {
		ramoops {
			compatible = "ramoops";
			reg = <0 0xbfc00000 0 0x400000>;
			record-size = <0x20000>;
			console-size = <0x100000>;
			ftrace-size = <0x100000>;
			pmsg-size = <0x100000>;
		};

		cont_splash_mem: memory@83401000 {
			reg = <0x0 0x83401000 0x0 (1440 * 2560 * 3)>;
			no-map;
		};
	};
};

&mmcc {
	status = "disabled";
};

&tlmm {
	gpio-reserved-ranges = <81 4>;
};

&usb3 {
	status = "okay";

	qcom,select-utmi-as-pipe-clk;

	dwc3@6a00000 {
		dr_mode = "peripheral";

		/* usb3-phy is not used on this device */
		phys = <&hsusb_phy1>;
		phy-names = "usb2-phy";

		maximum-speed = "high-speed";
	};
};


&hsusb_phy1 {
	status = "okay";

	//vdd-supply = <&pm8994_l28>;
	vdda-pll-supply = <&pm8994_l12>;
	vdda-phy-dpdm-supply = <&pm8994_l24>;
};

&rpm_requests {
	pm8994-regulators {
		compatible = "qcom,rpm-pm8994-regulators";

		pm8994_l12: l12 {
			regulator-name = "pm8994_l12";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
		};

		pm8994_l24: l24 {
			regulator-name = "pm8994_l24";
			regulator-min-microvolt = <3075000>;
			regulator-max-microvolt = <3075000>;
		};

		pm8994_l28: l28 {
			regulator-name = "pm8994_l28";
			regulator-min-microvolt = <925000>;
			regulator-max-microvolt = <925000>;
			regulator-allow-set-load;
		};
	};
};
