// SPDX-License-Identifier: GPL-2.0-only

/dts-v1/;

#include "msm8916-wingtech-wt865x8.dtsi"

/ {
	model = "Lenovo A6010 (Wingtech WT86528)";
	compatible = "wingtech,wt86528", "qcom,msm8916";
	chassis-type = "handset";

	/* left AW8736 */
	speaker_amp_left: audio-amplifier-left {
		compatible = "awinic,aw8738";

		pinctrl-names = "default";
		pinctrl-0 = <&spk_ext_pa_left_default>;

		enable-gpios = <&msmgpio 119 GPIO_ACTIVE_HIGH>;
		aw8738,mode = <3>;
		sound-name-prefix = "Speaker Amp L";
	};

	/* right AW8736 */
	speaker_amp_right: audio-amplifier-right {
		compatible = "awinic,aw8738";

		pinctrl-names = "default";
		pinctrl-0 = <&spk_ext_pa_right_default>;

		enable-gpios = <&msmgpio 121 GPIO_ACTIVE_HIGH>;
		aw8738,mode = <3>;
		sound-name-prefix = "Speaker Amp R";
	};

	gpio-leds {
		compatible = "gpio-leds";

		pinctrl-names = "default";
		pinctrl-0 = <&gpio_leds_default>;

		led-0 {
			gpios = <&msmgpio 16 GPIO_ACTIVE_LOW>;
			label = "red";
			default-state = "off";
			retain-state-suspended;
		};

		led-1 {
			gpios = <&msmgpio 17 GPIO_ACTIVE_HIGH>;
			label = "green";
			default-state = "off";
			retain-state-suspended;
		};
	};

	usb_id: usb-id {
		compatible = "linux,extcon-usb-gpio";
		id-gpios = <&msmgpio 110 GPIO_ACTIVE_HIGH>;
		pinctrl-names = "default";
		pinctrl-0 = <&usb_id_default>;
	};
};

&blsp_i2c2 {
	magnetometer@c {
		compatible = "asahi-kasei,ak09911";
		reg = <0x0c>;

		vdd-supply = <&pm8916_l17>;
		vid-supply = <&pm8916_l6>;
	};

	imu@68 {
		compatible = "invensense,mpu6880";
		reg = <0x68>;

		interrupt-parent = <&msmgpio>;
		interrupts = <115 IRQ_TYPE_EDGE_RISING>;

		vdd-supply = <&pm8916_l17>;
		vddio-supply = <&pm8916_l6>;

		pinctrl-names = "default";
		pinctrl-0 = <&imu_default>;

		mount-matrix = "1",  "0", "0",
			       "0", "-1", "0",
			       "0",  "0", "1";
	};
};

&reg_lcd_neg {
	regulator-min-microvolt = <5000000>;
	regulator-max-microvolt = <5000000>;
};

&reg_lcd_pos {
	regulator-min-microvolt = <5000000>;
	regulator-max-microvolt = <5000000>;
};

&sound {
	status = "okay";

	model = "wt86528";
	audio-routing =
		"Speaker Amp L IN", "HPH_L_EXT",
		"Speaker Amp R IN", "HPH_R_EXT",
		"Headphones Switch INL", "HPH_L",
		"Headphones Switch INR", "HPH_R",
		"AMIC1", "MIC BIAS External1",
		"AMIC2", "MIC BIAS Internal2",
		"AMIC3", "MIC BIAS External1";
	aux-devs = <&speaker_amp_left>, <&speaker_amp_right>, <&headphones_switch>;
};

&usb {
	extcon = <&usb_id>, <&usb_id>;
};

&usb_hs_phy {
	extcon = <&usb_id>;
};

&wcd_codec {
	qcom,micbias1-ext-cap;
};

&msmgpio {
	gpio_leds_default: gpio-leds-default {
		pins = "gpio16", "gpio17";
		function = "gpio";

		drive-strength = <2>;
		bias-disable;
	};

	imu_default: imu-default {
		pins = "gpio115";
		function = "gpio";

		drive-strength = <2>;
		bias-disable;
	};

	spk_ext_pa_left_default: spk-ext-pa-left-default {
		pins = "gpio119";
		function = "gpio";

		drive-strength = <2>;
		bias-disable;
	};

	spk_ext_pa_right_default: spk-ext-pa-right-default {
		pins = "gpio121";
		function = "gpio";

		drive-strength = <2>;
		bias-disable;
	};

	usb_id_default: usb-id-default {
		pins = "gpio110";
		function = "gpio";

		drive-strength = <8>;
		bias-pull-up;
	};
};
