// SPDX-License-Identifier: GPL-2.0-only

/dts-v1/;

#include "msm8916-samsung-gt5-common.dtsi"

/ {
	model = "Samsung Galaxy Tab A 8.0 (2015)";
	compatible = "samsung,gt58", "qcom,msm8916";
	chassis-type = "tablet";
};
