// SPDX-License-Identifier: GPL-2.0
/*
 * Snapdragon 720G (sm7125) specific device tree
 *
 * Copyright (c) 2021, The Linux Foundation. All rights reserved.
 */

#include <dt-bindings/dma/qcom-gpi.h>
#include <dt-bindings/soc/qcom,apr.h>
#include <dt-bindings/sound/qcom,q6afe.h>
#include <dt-bindings/clock/qcom,sm8250-lpass-aoncc.h>
#include <dt-bindings/clock/qcom,sm8250-lpass-audiocc.h>

#include "sc7180.dtsi"

/* SM7125 uses Kryo 465 instead of Kryo 468 */
&CPU0 {
	compatible = "qcom,kryo465";
	/delete-property/ operating-points-v2;

	d-cache-size = <0x8000>;
	i-cache-size = <0x8000>;
};

&L2_0 {
	cache-size = <0x10000>;
	cache-level = <2>;
};

&L3_0 {
	cache-size = <0x100000>;
	cache-level = <3>;
};

&CPU1 {
	compatible = "qcom,kryo465";
	/delete-property/ operating-points-v2;

	d-cache-size = <0x8000>;
	i-cache-size = <0x8000>;
};

&L2_100 {
	cache-size = <0x10000>;
	cache-level = <2>;
};

&CPU2 {
	compatible = "qcom,kryo465";
	/delete-property/ operating-points-v2;

	d-cache-size = <0x8000>;
	i-cache-size = <0x8000>;
};

&L2_200 {
	cache-size = <0x10000>;
	cache-level = <2>;
};

&CPU3 {
	compatible = "qcom,kryo465";
	/delete-property/ operating-points-v2;

	d-cache-size = <0x8000>;
	i-cache-size = <0x8000>;
};

&L2_300 {
	cache-size = <0x10000>;
	cache-level = <2>;
};

&CPU4 {
	compatible = "qcom,kryo465";
	/delete-property/ operating-points-v2;

	d-cache-size = <0x8000>;
	i-cache-size = <0x8000>;
};

&L2_400 {
	cache-size = <0x10000>;
	cache-level = <2>;
};

&CPU5 {
	compatible = "qcom,kryo465";
	/delete-property/ operating-points-v2;

	d-cache-size = <0x8000>;
	i-cache-size = <0x8000>;
};

&L2_500 {
	cache-size = <0x10000>;
	cache-level = <2>;
};

&CPU6 {
	compatible = "qcom,kryo465";
	/delete-property/ operating-points-v2;

	d-cache-size = <0x10000>;
	i-cache-size = <0x10000>;
};

&L2_600 {
	cache-size = <0x40000>;
	cache-level = <2>;
};

&CPU7 {
	compatible = "qcom,kryo465";
	/delete-property/ operating-points-v2;

	d-cache-size = <0x10000>;
	i-cache-size = <0x10000>;
};

&L2_700 {
	cache-size = <0x40000>;
	cache-level = <2>;
};

// SC7180 doesn't have UFS yet.
&soc {
	ufs_mem_hc: ufshc@1d84000 {
		compatible = "qcom,sm7125-ufshc", "qcom,ufshc",
					"jedec,ufs-2.0";
		reg = <0 0x01d84000 0 0x3000>,
				<0 0x01d90000 0 0x8000>;
		reg-names = "std", "ice";
		interrupts = <GIC_SPI 265 IRQ_TYPE_LEVEL_HIGH>;
		phys = <&ufs_mem_phy_lanes>;
		phy-names = "ufsphy";
		lanes-per-direction = <1>;
		power-domains = <&gcc UFS_PHY_GDSC>;
		#reset-cells = <1>;
		resets = <&gcc GCC_UFS_PHY_BCR>;
		reset-names = "rst";

		iommus = <&apps_smmu 0xa0 0x0>;

		clock-names =
			"core_clk",
			"bus_aggr_clk",
			"iface_clk",
			"core_clk_unipro",
			"ref_clk",
			"tx_lane0_sync_clk",
			"rx_lane0_sync_clk",
			"ice_core_clk";
		clocks =
			<&gcc GCC_UFS_PHY_AXI_CLK>,
			<&gcc GCC_AGGRE_UFS_PHY_AXI_CLK>,
			<&gcc GCC_UFS_PHY_AHB_CLK>,
			<&gcc GCC_UFS_PHY_UNIPRO_CORE_CLK>,
			<&rpmhcc RPMH_CXO_CLK>,
			<&gcc GCC_UFS_PHY_TX_SYMBOL_0_CLK>,
			<&gcc GCC_UFS_PHY_RX_SYMBOL_0_CLK>,
			<&gcc GCC_UFS_PHY_ICE_CORE_CLK>;
		freq-table-hz =
			<50000000 200000000>,
			<0 0>,
			<0 0>,
			<37500000 150000000>,
			<0 0>,
			<0 0>,
			<0 0>,
			<0 300000000>;

		status = "disabled";
	};

	ufs_mem_phy: phy@1d87000 {
		compatible = "qcom,sm7125-qmp-ufs-phy";
		reg = <0 0x01d87000 0 0xddc>;
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;
		clock-names = "ref",
					"ref_aux";
		clocks = <&gcc GCC_UFS_MEM_CLKREF_CLK>,
				<&gcc GCC_UFS_PHY_PHY_AUX_CLK>;

		resets = <&ufs_mem_hc 0>;
		reset-names = "ufsphy";
		status = "disabled";

		ufs_mem_phy_lanes: lanes@1d87400 {
			reg = <0 0x01d87400 0 0x108>,
					<0 0x01d87600 0 0x1e0>,
					<0 0x01d87c00 0 0x1dc>,
					<0 0x01d87800 0 0x108>,
					<0 0x01d87a00 0 0x1e0>;
			#phy-cells = <0>;
		};
	};

	remoteproc_adsp: remoteproc@62400000 {
		compatible = "qcom,sm7125-adsp-pas";
		reg = <0 0x62400000 0 0x100>;

		interrupts-extended = <&intc GIC_SPI 162 IRQ_TYPE_EDGE_RISING>,
				    	<&adsp_smp2p_in 0 IRQ_TYPE_EDGE_RISING>,
				    	<&adsp_smp2p_in 1 IRQ_TYPE_EDGE_RISING>,
				    	<&adsp_smp2p_in 2 IRQ_TYPE_EDGE_RISING>,
				    	<&adsp_smp2p_in 3 IRQ_TYPE_EDGE_RISING>;
		interrupt-names = "wdog", "fatal", "ready",
					"handover", "stop-ack";

		clocks = <&rpmhcc RPMH_CXO_CLK>;
		clock-names = "xo";

		power-domains = <&rpmhpd SC7180_LCX>,
				<&rpmhpd SC7180_LMX>;
		power-domain-names = "lcx", "lmx";

		memory-region = <&adsp_mem>;

		qcom,qmp = <&aoss_qmp>;

		qcom,smem-states = <&adsp_smp2p_out 0>;
		qcom,smem-state-names = "stop";

		status = "disabled";

		glink-edge {
			interrupts = <GIC_SPI 156 IRQ_TYPE_EDGE_RISING>;
			label = "lpass";
			qcom,remote-pid = <2>;
			mboxes = <&apss_shared 8>;

			apr {
				compatible = "qcom,apr-v2";
				qcom,glink-channels = "apr_audio_svc";
				qcom,apr-domain = <APR_DOMAIN_ADSP>;
				#address-cells = <1>;
				#size-cells = <0>;

				apr-service@3 {
					reg = <APR_SVC_ADSP_CORE>;
					compatible = "qcom,q6core";
					qcom,protection-domain = "avs/audio", "msm/adsp/audio_pd";
				};

				q6afe: apr-service@4 {
					compatible = "qcom,q6afe";
					reg = <APR_SVC_AFE>;
					qcom,protection-domain = "avs/audio", "msm/adsp/audio_pd";
					q6afedai: dais {
						compatible = "qcom,q6afe-dais";
						#address-cells = <1>;
						#size-cells = <0>;
						#sound-dai-cells = <1>;
					};

					q6afecc: cc {
						compatible = "qcom,q6afe-clocks";
						#clock-cells = <2>;
					};
				};

				q6asm: apr-service@7 {
					compatible = "qcom,q6asm";
					reg = <APR_SVC_ASM>;
					qcom,protection-domain = "avs/audio", "msm/adsp/audio_pd";
					q6asmdai: dais {
						compatible = "qcom,q6asm-dais";
						#address-cells = <1>;
						#size-cells = <0>;
						#sound-dai-cells = <1>;
						iommus = <&apps_smmu 0x1001 0x0>;
					};
				};

				q6adm: apr-service@8 {
					compatible = "qcom,q6adm";
					reg = <APR_SVC_ADM>;
					qcom,protection-domain = "avs/audio", "msm/adsp/audio_pd";
					q6routing: routing {
						compatible = "qcom,q6adm-routing";
						#sound-dai-cells = <0>;
					};
				};
			};

			fastrpc {
				compatible = "qcom,fastrpc";
				qcom,glink-channels = "fastrpcglink-apps-dsp";
				label = "adsp";
				#address-cells = <1>;
				#size-cells = <0>;

				compute-cb@3 {
					compatible = "qcom,fastrpc-compute-cb";
					reg = <3>;
					iommus = <&apps_smmu 0x1003 0x0>;
				};

				compute-cb@4 {
					compatible = "qcom,fastrpc-compute-cb";
					reg = <4>;
					iommus = <&apps_smmu 0x1004 0x0>;
				};

				compute-cb@5 {
					compatible = "qcom,fastrpc-compute-cb";
					reg = <5>;
					iommus = <&apps_smmu 0x1005 0x0>;
					qcom,nsessions = <5>;
				};
			};
		};
	};

	wsamacro: codec@62640000 {
		compatible = "qcom,sm8250-lpass-wsa-macro";
		reg = <0 0x62640000 0 0x1000>;
		status = "disabled";
		clocks = <&audiocc LPASS_CDC_WSA_MCLK>,
				<&audiocc LPASS_CDC_WSA_NPL>,
				<&q6afecc LPASS_HW_MACRO_VOTE LPASS_CLK_ATTRIBUTE_COUPLE_NO>,
				<&q6afecc LPASS_HW_DCODEC_VOTE LPASS_CLK_ATTRIBUTE_COUPLE_NO>,
				<&aoncc LPASS_CDC_VA_MCLK>,
				<&vamacro>;

		clock-names = "mclk", "npl", "macro", "dcodec", "va", "fsgen";

		#clock-cells = <0>;
		clock-frequency = <19200000>;
		clock-output-names = "mclk";
		#sound-dai-cells = <1>;

		pinctrl-names = "default";
		pinctrl-0 = <&wsa_swr_active>;
	};

	swr0: soundwire-controller@62650000 {
		reg = <0 0x62650000 0 0x2000>;
		compatible = "qcom,soundwire-v1.5.1";
		status = "disabled";
		interrupts = <GIC_SPI 295 IRQ_TYPE_LEVEL_HIGH>;
		clocks = <&wsamacro>;
		clock-names = "iface";

		qcom,din-ports = <2>;
		qcom,dout-ports = <6>;

		qcom,ports-sinterval-low =	/bits/ 8 <0x07 0x1f 0x3f 0x07 0x1f 0x3f 0x0f 0x0f>;
		qcom,ports-offset1 =		/bits/ 8 <0x01 0x02 0x0c 0x06 0x12 0x0d 0x07 0x0a>;
		qcom,ports-offset2 =		/bits/ 8 <0xff 0x00 0x1f 0xff 0x00 0x1f 0x00 0x00>;
		qcom,ports-block-pack-mode =	/bits/ 8 <0x0 0x0 0x1 0x0 0x0 0x1 0x0 0x0>;

		#sound-dai-cells = <1>;
		#address-cells = <2>;
		#size-cells = <0>;
	};

	audiocc: clock-controller@62700000 {
		compatible = "qcom,sm8250-lpass-audiocc";
		reg = <0 0x62700000 0 0x30000>;
		#clock-cells = <1>;
		clocks = <&q6afecc LPASS_HW_MACRO_VOTE LPASS_CLK_ATTRIBUTE_COUPLE_NO>,
			<&q6afecc LPASS_HW_DCODEC_VOTE LPASS_CLK_ATTRIBUTE_COUPLE_NO>,
			<&q6afecc LPASS_CLK_ID_TX_CORE_MCLK LPASS_CLK_ATTRIBUTE_COUPLE_NO>;
		clock-names = "core", "audio", "bus";
	};

	vamacro: codec@62770000 {
		compatible = "qcom,sm8250-lpass-va-macro";
		reg = <0 0x62770000 0 0x1000>;
		status = "disabled";
		clocks = <&aoncc 0>,
			<&q6afecc LPASS_HW_MACRO_VOTE LPASS_CLK_ATTRIBUTE_COUPLE_NO>,
			<&q6afecc LPASS_HW_DCODEC_VOTE LPASS_CLK_ATTRIBUTE_COUPLE_NO>;

		clock-names = "mclk", "macro", "dcodec";

		#clock-cells = <0>;
		clock-frequency = <9600000>;
		clock-output-names = "fsgen";
		#sound-dai-cells = <1>;
	};

	rxmacro: rxmacro@62600000 {
		pinctrl-names = "default";
		pinctrl-0 = <&rx_swr_active>;
		compatible = "qcom,sm8250-lpass-rx-macro";
		reg = <0 0x62600000 0 0x1000>;
		status = "disabled";

		clocks = <&q6afecc LPASS_CLK_ID_TX_CORE_MCLK LPASS_CLK_ATTRIBUTE_COUPLE_NO>,
				 <&q6afecc LPASS_CLK_ID_TX_CORE_NPL_MCLK  LPASS_CLK_ATTRIBUTE_COUPLE_NO>,
				 <&q6afecc LPASS_HW_MACRO_VOTE LPASS_CLK_ATTRIBUTE_COUPLE_NO>,
				 <&q6afecc LPASS_HW_DCODEC_VOTE LPASS_CLK_ATTRIBUTE_COUPLE_NO>,
				 <&vamacro>;

		clock-names = "mclk", "npl", "macro", "dcodec", "fsgen";

		#clock-cells = <0>;
		clock-frequency = <9600000>;
		clock-output-names = "mclk";
		#sound-dai-cells = <1>;
	};

	swr1: soundwire-controller@62610000 {
		reg = <0 0x62610000 0 0x2000>;
		compatible = "qcom,soundwire-v1.5.1";
		status = "disabled";
		interrupts = <GIC_SPI 297 IRQ_TYPE_LEVEL_HIGH>;

		clocks = <&rxmacro>;
		clock-names = "iface";
		label = "RX";

		qcom,din-ports = <0>;
		qcom,dout-ports = <5>;
		qcom,ports-sinterval-low =	/bits/ 8 <0x03 0x1F 0x1F 0x07 0x00>;
		qcom,ports-offset1 =		/bits/ 8 <0x00 0x00 0x0B 0x01 0x00>;
		qcom,ports-offset2 =		/bits/ 8 <0x00 0x00 0x0B 0x00 0x00>;
		qcom,ports-hstart =		/bits/ 8 <0xFF 0x03 0xFF 0xFF 0xFF>;
		qcom,ports-hstop =		/bits/ 8 <0xFF 0x06 0xFF 0xFF 0xFF>;
		qcom,ports-word-length =	/bits/ 8 <0x01 0x07 0x04 0xFF 0xFF>;
		qcom,ports-block-pack-mode =	/bits/ 8 <0xFF 0x00 0x01 0xFF 0xFF>;
		qcom,ports-block-group-count =	/bits/ 8 <0xFF 0xFF 0xFF 0xFF 0x00>;
		qcom,ports-lane-control =	/bits/ 8 <0x01 0x00 0x00 0x00 0x00>;

		#sound-dai-cells = <1>;
		#address-cells = <2>;
		#size-cells = <0>;
	};

	txmacro: txmacro@62620000 {
		pinctrl-names = "default";
		pinctrl-0 = <&tx_swr_active>;
		compatible = "qcom,sm8250-lpass-tx-macro";
		reg = <0 0x62620000 0 0x1000>;
		status = "disabled";

		clocks = <&q6afecc LPASS_CLK_ID_TX_CORE_MCLK LPASS_CLK_ATTRIBUTE_COUPLE_NO>,
				 <&q6afecc LPASS_CLK_ID_TX_CORE_NPL_MCLK  LPASS_CLK_ATTRIBUTE_COUPLE_NO>,
				 <&q6afecc LPASS_HW_MACRO_VOTE LPASS_CLK_ATTRIBUTE_COUPLE_NO>,
				 <&q6afecc LPASS_HW_DCODEC_VOTE LPASS_CLK_ATTRIBUTE_COUPLE_NO>,
				 <&vamacro>;

		clock-names = "mclk", "npl", "macro", "dcodec", "fsgen";

		#clock-cells = <0>;
		clock-frequency = <9600000>;
		clock-output-names = "mclk";
		#address-cells = <2>;
		#size-cells = <2>;
		#sound-dai-cells = <1>;
	};

	swr2: soundwire-controller@3230000 {
		reg = <0 0x3230000 0 0x2000>;
		compatible = "qcom,soundwire-v1.5.1";
		status = "disabled";
		interrupts = <GIC_SPI 296 IRQ_TYPE_LEVEL_HIGH>;

		clocks = <&txmacro>;
		clock-names = "iface";
		label = "TX";

		qcom,din-ports = <5>;
		qcom,dout-ports = <0>;
		qcom,ports-sinterval-low =	/bits/ 8 <0xFF 0x01 0x01 0x03 0x03>;
		qcom,ports-offset1 =		/bits/ 8 <0xFF 0x01 0x00 0x02 0x00>;
		qcom,ports-offset2 =		/bits/ 8 <0xFF 0x00 0x00 0x00 0x00>;
		qcom,ports-block-pack-mode =	/bits/ 8 <0xFF 0xFF 0xFF 0xFF 0xFF>;
		qcom,ports-hstart =		/bits/ 8 <0xFF 0xFF 0xFF 0xFF 0xFF>;
		qcom,ports-hstop =		/bits/ 8 <0xFF 0xFF 0xFF 0xFF 0xFF>;
		qcom,ports-word-length =	/bits/ 8 <0xFF 0xFF 0xFF 0xFF 0xFF>;
		qcom,ports-block-group-count =	/bits/ 8 <0xFF 0xFF 0xFF 0xFF 0xFF>;
		qcom,ports-lane-control =	/bits/ 8 <0xFF 0x00 0x01 0x00 0x01>;
		qcom,port-offset = <1>;

		#sound-dai-cells = <1>;
		#address-cells = <2>;
		#size-cells = <0>;
	};

	aoncc: clock-controller@62780000 {
		compatible = "qcom,sm8250-lpass-aoncc";
		reg = <0 0x62780000 0 0x40000>;
		#clock-cells = <1>;
		clocks = <&q6afecc LPASS_HW_MACRO_VOTE LPASS_CLK_ATTRIBUTE_COUPLE_NO>,
			<&q6afecc LPASS_HW_DCODEC_VOTE LPASS_CLK_ATTRIBUTE_COUPLE_NO>,
			<&q6afecc LPASS_CLK_ID_TX_CORE_NPL_MCLK LPASS_CLK_ATTRIBUTE_COUPLE_NO>;
		clock-names = "core", "audio", "bus";
	};

	lpass_tlmm: pinctrl@627c0000 {
		compatible = "qcom,sc7280-lpass-lpi-pinctrl";
		reg = <0 0x627c0000 0x0 0x20000>,
				<0 0x62950000 0x0 0x10000>;
		gpio-controller;
		#gpio-cells = <2>;
		gpio-ranges = <&lpass_tlmm 0 0 15>;

		clocks = <&q6afecc LPASS_HW_MACRO_VOTE LPASS_CLK_ATTRIBUTE_COUPLE_NO>,
			<&q6afecc LPASS_HW_DCODEC_VOTE LPASS_CLK_ATTRIBUTE_COUPLE_NO>;
		clock-names = "core", "audio";

		i2s1_active: i2s1-active-pins {
			clk {
				pins = "gpio6";
				function = "i2s1_clk";
				drive-strength = <8>;
				bias-disable;
				output-high;
			};
			ws {
				pins = "gpio7";
				function = "i2s1_ws";
				drive-strength = <8>;
				bias-disable;
				output-high;
			};
			data {
				pins = "gpio8", "gpio9";
				function = "i2s1_data";
				drive-strength = <8>;
				bias-disable;
				output-high;
			};
		};

		wsa_swr_active: wsa-swr-active-pins {
			clk {
				pins = "gpio10";
				function = "wsa_swr_clk";
				drive-strength = <10>;
				slew-rate = <3>;
				bias-disable;
			};

			data {
				pins = "gpio11";
				function = "wsa_swr_data";
				drive-strength = <10>;
				slew-rate = <3>;
				bias-bus-hold;

			};
		};

		rx_swr_active: rx_swr-active-pins {
			clk {
				pins = "gpio3";
				function = "swr_rx_clk";
				drive-strength = <10>;
				slew-rate = <3>;
				bias-disable;
			};
			data {
				pins = "gpio4", "gpio5";
				function = "swr_rx_data";
				drive-strength = <10>;
				slew-rate = <3>;
				bias-bus-hold;
			};
		};

		tx_swr_active: tx_swr-active-pins {
			clk {
				pins = "gpio0";
				function = "swr_tx_clk";
				drive-strength = <10>;
				slew-rate = <3>;
				bias-disable;
			};
			data {
				pins = "gpio1", "gpio2", "gpio14";
				function = "swr_tx_data";
				drive-strength = <10>;
				slew-rate = <3>;
				bias-bus-hold;
			};
		};
	};

	sound: sound {
	};

	remoteproc_cdsp: remoteproc@8300000 {
		compatible = "qcom,sm7125-cdsp-pas";
		reg = <0 0x08300000 0 0x10000>;

		interrupts-extended = <&intc GIC_SPI 578 IRQ_TYPE_LEVEL_HIGH>,
						<&cdsp_smp2p_in 0 IRQ_TYPE_EDGE_RISING>,
						<&cdsp_smp2p_in 1 IRQ_TYPE_EDGE_RISING>,
						<&cdsp_smp2p_in 2 IRQ_TYPE_EDGE_RISING>,
						<&cdsp_smp2p_in 3 IRQ_TYPE_EDGE_RISING>;
		interrupt-names = "wdog", "fatal", "ready",
					"handover", "stop-ack";

		clocks = <&rpmhcc RPMH_CXO_CLK>;
		clock-names = "xo";

		power-domains = <&rpmhpd SC7180_CX>,
				<&rpmhpd SC7180_MX>;
		power-domain-names = "cx", "mx";

		memory-region = <&cdsp_mem>;

		qcom,qmp = <&aoss_qmp>;

		qcom,smem-states = <&cdsp_smp2p_out 0>;
		qcom,smem-state-names = "stop";

		status = "disabled";

		glink-edge {
			interrupts = <GIC_SPI 574 IRQ_TYPE_EDGE_RISING>;
			label = "cdsp";
			qcom,remote-pid = <5>;
			mboxes = <&apss_shared 4>;

			fastrpc {
				compatible = "qcom,fastrpc";
				qcom,glink-channels = "fastrpcglink-apps-dsp";
				label = "cdsp";
				#address-cells = <1>;
				#size-cells = <0>;

				compute-cb@1 {
					compatible = "qcom,fastrpc-compute-cb";
					reg = <1>;
					iommus = <&apps_smmu 0x1401 0x20>;
				};

				compute-cb@2 {
					compatible = "qcom,fastrpc-compute-cb";
					reg = <2>;
					iommus = <&apps_smmu 0x1402 0x20>;
				};

				compute-cb@3 {
					compatible = "qcom,fastrpc-compute-cb";
					reg = <3>;
					iommus = <&apps_smmu 0x1403 0x20>;
				};

				compute-cb@4 {
					compatible = "qcom,fastrpc-compute-cb";
					reg = <4>;
					iommus = <&apps_smmu 0x1404 0x20>;
				};

				compute-cb@5 {
					compatible = "qcom,fastrpc-compute-cb";
					reg = <5>;
					iommus = <&apps_smmu 0x1405 0x20>;
				};

				compute-cb@6 {
					compatible = "qcom,fastrpc-compute-cb";
					reg = <6>;
					iommus = <&apps_smmu 0x1406 0x20>;
				};

				compute-cb@7 {
					compatible = "qcom,fastrpc-compute-cb";
					reg = <7>;
					iommus = <&apps_smmu 0x1407 0x20>;
				};

				compute-cb@8 {
					compatible = "qcom,fastrpc-compute-cb";
					reg = <8>;
					iommus = <&apps_smmu 0x1408 0x20>;
				};

				/* note: secure cb9 in downstream */
			};
		};
	};

	gpi_dma0: dma-controller@800000  {
		compatible = "qcom,sm7125-gpi-dma";
		reg = <0 0x00800000 0 0x60000>;
		interrupts = <GIC_SPI 244 IRQ_TYPE_LEVEL_HIGH>,
					<GIC_SPI 245 IRQ_TYPE_LEVEL_HIGH>,
					<GIC_SPI 246 IRQ_TYPE_LEVEL_HIGH>,
					<GIC_SPI 247 IRQ_TYPE_LEVEL_HIGH>,
					<GIC_SPI 248 IRQ_TYPE_LEVEL_HIGH>,
					<GIC_SPI 249 IRQ_TYPE_LEVEL_HIGH>,
					<GIC_SPI 250 IRQ_TYPE_LEVEL_HIGH>,
					<GIC_SPI 251 IRQ_TYPE_LEVEL_HIGH>,
					<GIC_SPI 252 IRQ_TYPE_LEVEL_HIGH>,
					<GIC_SPI 253 IRQ_TYPE_LEVEL_HIGH>;
		dma-channels = <10>;
		dma-channel-mask = <0x1f>;
		iommus = <&apps_smmu 0x56 0x0>;
		#dma-cells = <3>;
		status = "disabled";
	};

	gpi_dma1: dma-controller@a00000 {
		compatible = "qcom,sm7125-gpi-dma";
		reg = <0 0x00a00000 0 0x60000>;
		interrupts = <GIC_SPI 645 IRQ_TYPE_LEVEL_HIGH>,
					<GIC_SPI 646 IRQ_TYPE_LEVEL_HIGH>,
					<GIC_SPI 647 IRQ_TYPE_LEVEL_HIGH>,
					<GIC_SPI 648 IRQ_TYPE_LEVEL_HIGH>,
					<GIC_SPI 649 IRQ_TYPE_LEVEL_HIGH>,
					<GIC_SPI 650 IRQ_TYPE_LEVEL_HIGH>,
					<GIC_SPI 651 IRQ_TYPE_LEVEL_HIGH>,
					<GIC_SPI 652 IRQ_TYPE_LEVEL_HIGH>,
					<GIC_SPI 653 IRQ_TYPE_LEVEL_HIGH>,
					<GIC_SPI 654 IRQ_TYPE_LEVEL_HIGH>;
		dma-channels = <10>;
		dma-channel-mask = <0x3f>;
		iommus = <&apps_smmu 0x4d6 0x0>;
		#dma-cells = <3>;
		status = "disabled";
	};
};
/delete-node/ &gpu_opp_table;
&gpu {
	gpu_opp_table: opp-table {
		compatible = "operating-points-v2";
		
		opp-750000000 {
			opp-hz = /bits/ 64 <750000000>;
			opp-level = <RPMH_REGULATOR_LEVEL_NOM_L1>;
			opp-peak-kBps = <7216000>;
			opp-supported-hw = <0x08>;
		};

		opp-650000000 {
			opp-hz = /bits/ 64 <650000000>;
			opp-level = <RPMH_REGULATOR_LEVEL_NOM_L1>;
			opp-peak-kBps = <7216000>;
			opp-supported-hw = <0x08>;
		};

		opp-565000000 {
			opp-hz = /bits/ 64 <565000000>;
			opp-level = <RPMH_REGULATOR_LEVEL_NOM>;
			opp-peak-kBps = <5412000>;
			opp-supported-hw = <0x08>;
		};

		opp-430000000 {
			opp-hz = /bits/ 64 <430000000>;
			opp-level = <RPMH_REGULATOR_LEVEL_SVS_L1>;
			opp-peak-kBps = <5412000>;
			opp-supported-hw = <0x08>;
		};

		opp-355000000 {
			opp-hz = /bits/ 64 <355000000>;
			opp-level = <RPMH_REGULATOR_LEVEL_SVS>;
			opp-peak-kBps = <3072000>;
			opp-supported-hw = <0x08>;
		};

		opp-267000000 {
			opp-hz = /bits/ 64 <267000000>;
			opp-level = <RPMH_REGULATOR_LEVEL_LOW_SVS>;
			opp-peak-kBps = <3072000>;
			opp-supported-hw = <0x08>;
		};

		opp-180000000 {
			opp-hz = /bits/ 64 <180000000>;
			opp-level = <RPMH_REGULATOR_LEVEL_MIN_SVS>;
			opp-peak-kBps = <1804000>;
			opp-supported-hw = <0x08>;
		};
	};
};

&lpasscc {
	status = "disabled";
};

&lpass_cpu {
	status = "disabled";
};

&lpass_hm {
	status = "disabled";
};

&mdp {
	reg = <0 0x0ae01000 0 0x8f000>,
		  <0 0x0aeac000 0 0x214>,
		  <0 0x0aeb0000 0 0x2008>,
		  <0 0x0aeb8000 0 0x3000>;
	reg-names = "mdp", "regdma", "vbif", "vbif_nrt";
};

&venus {
	compatible = "qcom,sm7125-venus";
};

&i2c7 {
	dmas = <&gpi_dma1 0 1 QCOM_GPI_I2C>,
			<&gpi_dma1 1 1 QCOM_GPI_I2C>;
	dma-names = "tx", "rx";
};
