// SPDX-License-Identifier: GPL-2.0-only
/*
 * Copyright (c) 2023, David Wronek <davidwronek@gmail.com>
 */

/dts-v1/;
#include "pxa1908.dtsi"

/ {
	model = "Samsung Galaxy Grand Prime VE LTE";
	compatible = "samsung,coreprimevelte", "marvell,pxa1908";

	pxa,rev-id = <3929 1>;


	chosen {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		framebuffer@a080000 {
			compatible = "simple-framebuffer";
			reg = <0x0 0xa080000 0x0 (540 * 960 * 4)>;
			width = <540>;
			height = <960>;
			stride = <(540 * 4)>;
			format = "a8r8g8b8";
		};
	};

	/* Bootloader fills this in */
	memory {
		device_type = "memory";
		reg = <0x0 0x0 0x0 0x0>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		cp@5000000 {
			reg = <0x0 0x5000000 0x0 0x3000000>;
		};

		gpu@9000000 {
			reg = <0x0 0x9000000 0x0 0x1000000>;
		};

		cm3@a000000 {
			reg = <0 0xa000000 0 0x80000>;
		};

		framebuffer@a080000 {
			reg = <0x0 0xa080000 0x0 (540 * 960 * 4)>;
			no-map;
		};
	};

	i2c-muic {
		compatible = "i2c-gpio";
		sda-gpios = <&gpio 30 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		scl-gpios = <&gpio 29 (GPIO_ACTIVE_HIGH|GPIO_OPEN_DRAIN)>;
		i2c-gpio,delay-us = <3>;
		i2c-gpio,timeout-ms = <100>;
		#address-cells = <1>;
		#size-cells = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&i2c_muic_pins>;

		muic: extcon@14 {
			compatible = "siliconmitus,sm5504-muic";
			reg = <0x14>;
			interrupt-parent = <&gpio>;
			interrupts = <0 IRQ_TYPE_EDGE_FALLING>;
		};
	};
}

&twsi0 {
	status = "okay";
};

&twsi1 {
	status = "okay";
};

&twsi2 {
	status = "okay";
	pmic0: 88pm886@30 {
		compatible = "marvell,88pm886";
		reg = <0x30>;
		interrupts = <0 4 IRQ_TYPE_LEVEL_HIGH>;
		interrupt-parent = <&gic>;
		interrupt-controller;
		#interrupt-cells = <1>;

		marvell,88pm88x-irq-write-clear;

		onkey {
			marvell,pm88x-onkey-gpio-number = <0>;
		};

		vbus {
			gpadc-number = <1>;
		};

		battery {
			bat-software-battery-detection;
			/* bat-ntc-support; */
			bat-ntc-support;
			gpadc-det-no = <2>;
			gpadc-temp-no = <3>;
		};
	};

	pmic2: 88pm860@38 {
		compatible = "marvell,88pm860";
		reg = <0x38>;
		marvell,pmic-type = <1>;

		pm860_codec: pm860_codec {
			compatible = "marvell,88pm860-codec";
			#dailink-cells = <1>;
		};
	};
};

&twsi3 {
	status = "okay";
};

&usb {
	extcon = <&muic>, <&muic>;
};

&pmx {
	pinctrl-single,gpio-range = <&range 55 55 0>,
				    <&range 110 32 0>,
				    <&range 52 1 0>;

	pinctrl-names = "default";
	pinctrl-0 = <&board_pins_1 &board_pins_2 &board_pins_3>;

	board_pins_1: pinmux-board-1 {
		pinctrl-single,pins = <
			0x160 0
			0x164 0
			0x168 0
			0x16c 0
		>;
		pinctrl-single,drive-strength = <0x1000 0x1800>;
		pinctrl-single,bias-pullup = <0x8000 0x8000 0 0xc000>;
		pinctrl-single,bias-pulldown = <0x8000 0x8000 0 0xa000>;
		pinctrl-single,input-schmitt = <0 0x30>;
		pinctrl-single,input-schmitt-enable = <0x40 0 0x40 0x40>;
		pinctrl-single,low-power-mode = <0x288 0x388>;
	};

	board_pins_2: pinmux-board-2 {
		pinctrl-single,pins = <
			0x44 1
			0x48 1
			0x20 1
			0x18 1
			0x14 1
			0x10 1
			0xc 1
			0x8 1
			0x68 1
			0x58 0
			0x54 0
			0x7c 0
			0x6c 0
			0x70 0
			0x4c 1
			0x50 1
			0xac 0
			0x90 0
			0x8c 0
			0x88 0
			0x84 0
			0xc8 0
			0x128 0
			0x190 0
			0x194 0
			0x1a0 0
			0x114 0
			0x118 0
			0x1d8 0
			0x1e4 0
			0xe8 0
			0x100 0
			0x204 0
			0x210 0
			0x218 0
		>;
		pinctrl-single,bias-pullup = <0xc000 0xc000 0 0xc000>;
		pinctrl-single,bias-pulldown = <0x8000 0xa000 0x8000 0xc000>;
		pinctrl-single,low-power-mode = <0x288 0x388>;
	};

	board_pins_3: pinmux-board-3 {
		pinctrl-single,pins = <
			0x260 0
			0x264 0
			0x268 0
			0x26c 0
			0x270 0
			0x274 0
			0x78 0
			0x74 0
			0xb0 1
		>;
		pinctrl-single,drive-strength = <0x1000 0x1800>;
		pinctrl-single,bias-pullup = <0 0xc000 0 0xc000>;
		pinctrl-single,bias-pulldown = <0 0xa000 0 0xa000>;
		pinctrl-single,input-schmitt = <0 0x30>;
		pinctrl-single,input-schmitt-enable = <0x40 0 0x40 0x40>;
		pinctrl-single,low-power-mode = <0 0x388>;
	};

	i2c_muic_pins: pinmux-i2c-muic {
		pinctrl-single,pins = <
			0x154 0
			0x150 0
		>;
		pinctrl-single,drive-strength = <0x1000 0x1800>;
		pinctrl-single,bias-pullup = <0 0xc000 0 0xc000>;
		pinctrl-single,bias-pulldown = <0 0xa000 0 0xa000>;
		pinctrl-single,input-schmitt = <0 0x30>;
		pinctrl-single,input-schmitt-enable = <0x40 0 0x40 0x40>;
		pinctrl-single,low-power-mode = <0x288 0x388>;
	};
};

#include "88pm886.dtsi"
#include "88pm88x.dtsi"
