# Qualcomm Snapdragon SM7150 config fragment
CONFIG_LOCALVERSION="-sm7150"
# CONFIG_LOCALVERSION_AUTO is not set

# Common for SM7150 devices
CONFIG_TOUCHSCREEN_GOODIX_GTX8=m
CONFIG_INPUT_AW8695_HAPTICS=m
CONFIG_TYPEC_MUX_FSA4480=m

# Xiaomi Mi 9T / Redmi K20 (Davinci)
CONFIG_DRM_PANEL_SAMSUNG_EA_F10=y

# Xiaomi Mi Note 10 Lite (Toco)
CONFIG_DRM_PANEL_XIAOMI_F4_41_06_0A=y

# Xiaomi POCO X3 NFC (Surya)
CONFIG_TOUCHSCREEN_NT36672C_HOSTDL_SPI=y
CONFIG_DRM_PANEL_HUAXING_NT36672C=y
CONFIG_SND_SOC_TAS2562=m

# Xiaomi Redmi Note 10 Pro (Sweet)
CONFIG_DRM_PANEL_K6_38_0C_0A=y

# SOC
CONFIG_NR_CPUS=8
CONFIG_SCHED_CLUSTER=y
CONFIG_SCSI_UFS_QCOM=y
CONFIG_QCOM_LLCC=y
CONFIG_QCOM_OCMEM=y
CONFIG_QCOM_RMTFS_MEM=y
CONFIG_QCOM_SOCINFO=y
CONFIG_QCOM_APR=y
CONFIG_POWER_RESET_QCOM_PON=y
CONFIG_QCOM_SPMI_TEMP_ALARM=y
CONFIG_QCOM_SPMI_ADC_TM5=y
CONFIG_QCOM_GPI_DMA=y

# SM7150 SOC
CONFIG_INTERCONNECT_QCOM_OSM_L3=y
CONFIG_INTERCONNECT_QCOM_SM7150=y
CONFIG_PINCTRL_SM7150=y
CONFIG_SC_GPUCC_7180=y
CONFIG_SC_DISPCC_7180=y
CONFIG_SC_GCC_7180=y
CONFIG_SC_VIDEOCC_7180=y

# Sound
CONFIG_SND_SOC_LPASS_RX_MACRO=m
CONFIG_SND_SOC_LPASS_TX_MACRO=m

# Remoteproc
CONFIG_SLIMBUS=y
CONFIG_SLIM_QCOM_CTRL=y
CONFIG_SLIM_QCOM_NGD_CTRL=y
CONFIG_REMOTEPROC_CDEV=y

# Graphics
CONFIG_FB_SIMPLE=y
CONFIG_DRM=y
CONFIG_DRM_DISPLAY_HELPER=y
CONFIG_DRM_MSM=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y

# Power management
CONFIG_PM_AUTOSLEEP=y
CONFIG_PM_WAKELOCKS=y

# Misc useful things
CONFIG_SCSI_SCAN_ASYNC=y

# Needed for mounting userdata on android
CONFIG_QFMT_V2=y
CONFIG_PSTORE=y
CONFIG_PSTORE_CONSOLE=y
CONFIG_PSTORE_RAM=y

# HID/Input
CONFIG_HID_GENERIC=m
CONFIG_UHID=m
CONFIG_USB_HID=m
CONFIG_INPUT_EVDEV=y
CONFIG_BT_HIDP=m
CONFIG_INPUT_JOYDEV=m

# NFC
CONFIG_NFC_NXP_NCI=m
CONFIG_NFC_NXP_NCI_I2C=m

# USB
CONFIG_USB_CONFIGFS=y
CONFIG_USB_CONFIGFS_F_HID=y

CONFIG_LEDS_TRIGGER_ONESHOT=y
CONFIG_LEDS_TRIGGER_BACKLIGHT=y
CONFIG_LEDS_TRIGGER_ACTIVITY=y

CONFIG_RPMSG_CHAR=y
# Always load RFCOMM and BNEP as modules so they initialize properly
CONFIG_BT_RFCOMM=m
CONFIG_BT_RFCOMM_TTY=y
CONFIG_BT_BNEP=m
CONFIG_BT_BNEP_MC_FILTER=y
CONFIG_BT_BNEP_PROTO_FILTER=y
CONFIG_BT_HS=y
CONFIG_BT_LE=y
CONFIG_HID_BATTERY_STRENGTH=y
CONFIG_HIDRAW=y
CONFIG_QCOM_FASTRPC=m
CONFIG_QCOM_SPMI_ADC5=y
CONFIG_PHY_QCOM_PCIE2=y
CONFIG_PHY_QCOM_QMP=y
CONFIG_PHY_QCOM_QMP_COMBO=y
CONFIG_PHY_QCOM_QMP_UFS=y
CONFIG_PHY_QCOM_QMP_USB=y
CONFIG_PHY_QCOM_QMP_PCIE=y
CONFIG_PHY_QCOM_QMP_PCIE_8996=y
CONFIG_PHY_QCOM_QUSB2=y
CONFIG_PHY_QCOM_USB_HS_28NM=y
CONFIG_PHY_QCOM_USB_SNPS_FEMTO_V2=y
CONFIG_PHY_QCOM_USB_HS=y
CONFIG_PHY_QCOM_SNPS_EUSB2=y
CONFIG_PHY_QCOM_EUSB2_REPEATER=y
CONFIG_PHY_QCOM_USB_HSIC=y
CONFIG_PHY_QCOM_USB_SS=y
CONFIG_LEDS_CLASS_FLASH=y
CONFIG_TCP_CONG_ADVANCED=y
CONFIG_TCP_CONG_WESTWOOD=y
CONFIG_DEFAULT_WESTWOOD=y
CONFIG_BLK_DEV_RAM=y
CONFIG_BLK_DEV_RAM_SIZE=8192
CONFIG_F2FS_FS=y
CONFIG_NLS_UTF8=y
CONFIG_NLS_DEFAULT="utf8"
CONFIG_FAT_DEFAULT_UTF8=y
CONFIG_CPU_FREQ_GOV_POWERSAVE=y
CONFIG_SYN_COOKIES=y
CONFIG_UEVENT_HELPER=y
CONFIG_INPUT_UINPUT=m
CONFIG_PSTORE_PMSG=y
CONFIG_U_SERIAL_CONSOLE=y
CONFIG_USB_ANNOUNCE_NEW_DEVICES=y

# Anbox
CONFIG_BRIDGE_NETFILTER=y
CONFIG_CHECKPOINT_RESTORE=y
CONFIG_PACKET_DIAG=y
CONFIG_UNIX_DIAG=y
CONFIG_NETLINK_DIAG=m
CONFIG_NETFILTER_XT_MATCH_COMMENT=m
CONFIG_ANDROID=y
CONFIG_ANDROID_BINDER_IPC=y
CONFIG_SQUASHFS_XATTR=y
CONFIG_SQUASHFS_LZ4=y
CONFIG_SQUASHFS_LZO=y
CONFIG_SQUASHFS_XZ=y

# Waydroid
CONFIG_PSI=y

# WLAN debugging
CONFIG_ATH10K_DEBUG=y
CONFIG_ATH10K_DEBUGFS=y
CONFIG_ATH10K_SPECTRAL=y

CONFIG_NET_SCH_HTB=y
CONFIG_NET_SCH_PRIO=y
CONFIG_NET_SCH_MULTIQ=y

# Debugging stuff
CONFIG_STACKTRACE=y

#pmOS Related
CONFIG_VT=y
CONFIG_CRYPTO_XTS=y
CONFIG_TMPFS_XATTR=y
CONFIG_DM_CRYPT=y
CONFIG_BLK_DEV_DM=y
CONFIG_BINFMT_MISC=m

CONFIG_NF_TABLES=m
CONFIG_NF_TABLES_INET=y
CONFIG_NFT_CT=m
CONFIG_NFT_COUNTER=m
CONFIG_NFT_LOG=m
CONFIG_NFT_LIMIT=m
CONFIG_NFT_MASQ=m
CONFIG_NFT_NAT=m
CONFIG_NFT_REJECT=m
CONFIG_NF_TABLES_IPV4=y
CONFIG_NF_TABLES_IPV6=y

CONFIG_WIREGUARD=m
CONFIG_DRM_GUD=m

# pmos containers kconfig
CONFIG_CGROUP_FREEZER=y
CONFIG_NETFILTER_XT_MATCH_IPVS=m
CONFIG_NETFILTER_XT_MARK=m
CONFIG_DUMMY=m
CONFIG_BLK_DEV_THROTTLING=y
CONFIG_NET_CLS_CGROUP=m
CONFIG_RT_GROUP_SCHED=y
CONFIG_IP_NF_TARGET_REDIRECT=m
CONFIG_IP_VS=m
CONFIG_IP_VS_NFCT=y
CONFIG_IP_VS_PROTO_TCP=y
CONFIG_IP_VS_PROTO_UDP=y
CONFIG_IP_VS_RR=y
CONFIG_EXT4_FS_SECURITY=y
CONFIG_CFS_BANDWIDTH=y
CONFIG_DM_THIN_PROVISIONING=y
CONFIG_VXLAN=m
CONFIG_CGROUP_NET_PRIO=y
CONFIG_IPVLAN=m

# pmOS ZRAM kconfig
CONFIG_ZSMALLOC=m
CONFIG_ZSMALLOC_STAT=y
CONFIG_ZRAM=m
CONFIG_ZRAM_MEMORY_TRACKING=y
CONFIG_CRYPTO_LZ4=m
CONFIG_LZ4_COMPRESS=m
CONFIG_CRYPTO_LZO=m
CONFIG_CRYPTO_ZSTD=m

# pmOS iwd kconfig
CONFIG_CRYPTO_USER_API_HASH=m
CONFIG_CRYPTO_USER_API_SKCIPHER=m
CONFIG_KEY_DH_OPERATIONS=y
CONFIG_CRYPTO_KPP=y
CONFIG_PKCS8_PRIVATE_KEY_PARSER=y

# LEDs
CONFIG_NEW_LEDS=y
CONFIG_LEDS_CLASS=y
CONFIG_LEDS_QCOM_FLASH=y

#Sony PlayStation controllers
CONFIG_HID_SONY=m
CONFIG_SONY_FF=y

# Disable all unrelated stuffs afaik
CONFIG_ACPI=n
CONFIG_VIRTUALIZATION=n
CONFIG_PSTORE_DEFLATE_COMPRESS=n
CONFIG_HIBERNATION=n
CONFIG_FW_LOADER_USER_HELPER=n
CONFIG_FW_LOADER_USER_HELPER_FALLBACK=n
CONFIG_BLK_DEV_NVME=n
CONFIG_ATA=n
CONFIG_MTD=n
CONFIG_SRAM=n
CONFIG_MEGARAID_SAS=n
CONFIG_EEPROM_AT25=n
CONFIG_SCSI_MPT3SAS=n
CONFIG_BLK_DEV_MD=n
CONFIG_DM_MIRROR=n
CONFIG_DM_ZERO=n
CONFIG_EXT2_FS=n
CONFIG_EXT3_FS=n
CONFIG_BTRFS_FS=n
CONFIG_USB_DWC2=n
CONFIG_USB_CHIPIDEA=n
CONFIG_USB_MUSB_HDRC=n
CONFIG_USB_ISP1760=n
CONFIG_USB_HSIC_USB3503=n
CONFIG_USB_NET_PLUSB=n
CONFIG_TYPEC_FUSB302=n
CONFIG_EXTCON_PTN5150=n
CONFIG_REALTEK_PHY=n
CONFIG_NET_VENDOR_NI=n
CONFIG_NET_9P=n
CONFIG_CAN=n
CONFIG_BNX2X=n
CONFIG_MACB=n
CONFIG_IGB=n
CONFIG_IGBVF=n
CONFIG_SMC91X=n
CONFIG_MLX4_EN=n
CONFIG_MLX5_CORE=n
CONFIG_STMMAC_ETH=n
CONFIG_ATL1C=n
CONFIG_BRCMFMAC=n
CONFIG_WL18XX=n
CONFIG_WLCORE=n
CONFIG_ATH10K_PCI=n
CONFIG_NET_SCH_CBS=n
CONFIG_NET_SCH_ETF=n
CONFIG_NET_SCH_TAPRIO=n
CONFIG_NET_SCH_MQPRIO=n
CONFIG_NET_CLS_BASIC=n
CONFIG_NET_CLS_FLOWER=n
CONFIG_NET_CLS_ACT=n
CONFIG_NET_ACT_GACT=n
CONFIG_NET_ACT_MIRRED=n
CONFIG_NET_ACT_GATE=n
CONFIG_MDIO_BUS_MUX_MMIOREG=n
CONFIG_MDIO_BUS_MUX_MULTIPLEXER=n
CONFIG_GPIO_DWAPB=n
CONFIG_COMMON_CLK_XGENE=n
CONFIG_SENSORS_ARM_SCPI=n
CONFIG_TCG_TPM=n
CONFIG_BATTERY_SBS=n
CONFIG_REGULATOR_VCTRL=n
CONFIG_THUNDER_NIC_BGX=n
CONFIG_THUNDER_NIC_RGX=n
CONFIG_MDIO_THUNDER=n
CONFIG_HW_RANDOM_CAVIUM=n
CONFIG_EEPROM_AT24=n
CONFIG_NET_DSA=n
CONFIG_VITESSE_PHY=n
CONFIG_SENSORS_LM90=n
CONFIG_SENSORS_INA2XX=n
CONFIG_SENSORS_ISL29018=n
CONFIG_PCI_PASID=n
CONFIG_UACCE=n
CONFIG_NOP_USB_XCEIV=n
CONFIG_SURFACE_PLATFORMS=n
CONFIG_SENSORS_LM75=n
CONFIG_SENSORS_PWM_FAN=n
CONFIG_SENSORS_INA3221=n
CONFIG_USB_CONN_GPIO=n
CONFIG_MICREL_PHY=n
CONFIG_COMMON_CLK_VC5=n
CONFIG_CRYPTO_DEV_CCREE=n
CONFIG_SND_SIMPLE_CARD=n
CONFIG_SND_SIMPLE_CARD_UTILS=n
CONFIG_SND_AUDIO_GRAPH_CARD=n
CONFIG_TYPEC_HD3SS3220=n
CONFIG_COMMON_CLK_CS2000_CP=n
CONFIG_PL330_DMA=n
CONFIG_NET_VENDOR_SOCIONEXT=n

# Disable MII PHY device drivers
CONFIG_AQUANTIA_PHY=n
CONFIG_MICROSEMI_PHY=n

# Disable Multiplexer I2C Chip support
CONFIG_I2C_MUX_PCA954x=n

# Disable pressure sensors
CONFIG_MPL3115=n

# Disable Display Panels
CONFIG_DRM_PANEL_BOE_TV101WUM_NL6=n
CONFIG_DRM_PANEL_LVDS=n
CONFIG_DRM_PANEL_MANTIX_MLAF057WE51=n
CONFIG_DRM_PANEL_RAYDIUM_RM67191=n
CONFIG_DRM_PANEL_SITRONIX_ST7703=n
CONFIG_DRM_PANEL_TRULY_NT35597_WQXGA=n
CONFIG_DRM_PANEL_VISIONOX_VTDR6130=n

# Disable I2C GPIO expanders
CONFIG_GPIO_MAX732X=n
CONFIG_GPIO_PCA953X=n

# Disable Backlight & LCD device support
CONFIG_BACKLIGHT_LP855X=n

# Disable IR I2C driver auto-selected by 'Autoselect ancillary drivers'
CONFIG_VIDEO_IMX219=n
CONFIG_VIDEO_IMX412=n
CONFIG_VIDEO_OV5640=n
CONFIG_VIDEO_OV5645=n

# Disable Common SoC Audio options for Freescale CPUs:
CONFIG_SND_SOC_FSL_ASRC=n
CONFIG_SND_SOC_FSL_SAI=n
CONFIG_SND_SOC_FSL_AUDMIX=n
CONFIG_SND_SOC_FSL_SPDIF=n
CONFIG_SND_SOC_FSL_MICFIL=n

# Disable Input Device Drivers
CONFIG_KEYBOARD_ADC=n
CONFIG_MOUSE_ELAN_I2C=n
CONFIG_TOUCHSCREEN_ATMEL_MXT=n
CONFIG_TOUCHSCREEN_GOODIX=n
CONFIG_TOUCHSCREEN_ELAN=n
CONFIG_TOUCHSCREEN_EDT_FT5X06=n

# Disable I2C RTC drivers
CONFIG_RTC_DRV_DS1307=n
CONFIG_RTC_DRV_RK808=n
CONFIG_RTC_DRV_HYM8563=n
CONFIG_RTC_DRV_ISL1208=n
CONFIG_RTC_DRV_PCF85063=n
CONFIG_RTC_DRV_PCF85363=n
CONFIG_RTC_DRV_M41T80=n
CONFIG_RTC_DRV_BQ32K=n
CONFIG_RTC_DRV_RX8581=n
CONFIG_RTC_DRV_RV3028=n
CONFIG_RTC_DRV_RV8803=n

# Disable SPI and I2C RTC drivers
CONFIG_RTC_DRV_DS3232=n
CONFIG_RTC_DRV_PCF2127=n

# Disable on-CPU RTC drivers
CONFIG_RTC_DRV_PL031=n

# Disable ARM errata workarounds via the alternatives framework
CONFIG_CAVIUM_ERRATUM_22375=n
CONFIG_CAVIUM_ERRATUM_23144=n
CONFIG_CAVIUM_ERRATUM_23154=n
CONFIG_CAVIUM_ERRATUM_27456=n
CONFIG_CAVIUM_ERRATUM_30115=n
CONFIG_CAVIUM_TX2_ERRATUM_219=n
CONFIG_FUJITSU_ERRATUM_010001=n
CONFIG_HISILICON_ERRATUM_161600802=n
CONFIG_NVIDIA_CARMEL_CNP_ERRATUM=n
CONFIG_ROCKCHIP_ERRATUM_3588001=n
CONFIG_SOCIONEXT_SYNQUACER_PREITS=n

# Disable platforms
CONFIG_ARCH_ACTIONS=n
CONFIG_ARCH_SUNXI=n
CONFIG_ARCH_ALPINE=n
CONFIG_ARCH_APPLE=n
CONFIG_ARCH_BCM=n
CONFIG_ARCH_BCM2835=n
CONFIG_ARCH_BCM_IPROC=n
CONFIG_ARCH_BCMBCA=n
CONFIG_ARCH_BRCMSTB=n
CONFIG_ARCH_BERLIN=n
CONFIG_ARCH_BITMAIN=n
CONFIG_ARCH_EXYNOS=n
CONFIG_ARCH_SPARX5=n
CONFIG_ARCH_K3=n
CONFIG_ARCH_LG1K=n
CONFIG_ARCH_HISI=n
CONFIG_ARCH_KEEMBAY=n
CONFIG_ARCH_MEDIATEK=n
CONFIG_ARCH_MESON=n
CONFIG_ARCH_MVEBU=n
CONFIG_ARCH_NXP=n
CONFIG_ARCH_LAYERSCAPE=n
CONFIG_ARCH_MXC=n
CONFIG_ARCH_S32=n
CONFIG_ARCH_MA35=n
CONFIG_ARCH_NPCM=n
CONFIG_ARCH_REALTEK=n
CONFIG_ARCH_RENESAS=n
CONFIG_ARCH_ROCKCHIP=n
CONFIG_ARCH_SEATTLE=n
CONFIG_ARCH_INTEL_SOCFPGA=n
CONFIG_ARCH_STM32=n
CONFIG_ARCH_SYNQUACER=n
CONFIG_ARCH_TEGRA=n
CONFIG_ARCH_SPRD=n
CONFIG_ARCH_THUNDER=n
CONFIG_ARCH_THUNDER2=n
CONFIG_ARCH_UNIPHIER=n
CONFIG_ARCH_VEXPRESS=n
CONFIG_ARCH_VISCONTI=n
CONFIG_ARCH_XGENE=n
CONFIG_ARCH_ZYNQMP=n

# Disable PCI controller drivers
CONFIG_PCIE_ALTERA=n
CONFIG_PCI_HOST_THUNDER_PEM=n
CONFIG_PCI_HOST_THUNDER_ECAM=n
CONFIG_PCI_XGENE=n

# Disable DesignWare-based PCIe controllers
CONFIG_PCI_MESON=n
CONFIG_PCI_HISI=n
CONFIG_PCIE_KIRIN=n

CONFIG_HIX5HD2_GMAC=n
CONFIG_HNS_DSAF=n
CONFIG_HNS_ENET=n
CONFIG_HNS3=n

# Disable serial drivers
CONFIG_SERIAL_XILINX_PS_UART=n
CONFIG_SERIAL_FSL_LPUART=n
CONFIG_SERIAL_FSL_LINFLEXUART=n

# Disable I2C system bus drivers (mostly embedded / system-on-chip)
CONFIG_I2C_DESIGNWARE_PLATFORM=n
CONFIG_I2C_RK3X=n

# Disable SPI Master Controller Drivers
CONFIG_SPI_CADENCE_QUADSPI=n
CONFIG_SPI_DESIGNWARE=n
CONFIG_SPI_PL022=n

# Disable pinctrls
CONFIG_PINCTRL_RK805=n
CONFIG_PINCTRL_IPQ5018=n
CONFIG_PINCTRL_IPQ5332=n
CONFIG_PINCTRL_IPQ8074=n
CONFIG_PINCTRL_IPQ6018=n
CONFIG_PINCTRL_IPQ9574=n
CONFIG_PINCTRL_MSM8916=n
CONFIG_PINCTRL_MSM8953=n
CONFIG_PINCTRL_MSM8976=n
CONFIG_PINCTRL_MSM8994=n
CONFIG_PINCTRL_MSM8996=n
CONFIG_PINCTRL_MSM8998=n
CONFIG_PINCTRL_QCM2290=n
CONFIG_PINCTRL_QCS404=n
CONFIG_PINCTRL_QDU1000=n
CONFIG_PINCTRL_SA8775P=n
CONFIG_PINCTRL_SC7180=y
CONFIG_PINCTRL_SC7280=n
CONFIG_PINCTRL_SC8180X=n
CONFIG_PINCTRL_SC8280XP=n
CONFIG_PINCTRL_SDM660=n
CONFIG_PINCTRL_SDM670=n
CONFIG_PINCTRL_SDM845=n
CONFIG_PINCTRL_SM6115=n
CONFIG_PINCTRL_SM6125=n
CONFIG_PINCTRL_SM6350=n
CONFIG_PINCTRL_SM6375=n
CONFIG_PINCTRL_SM8150=n
CONFIG_PINCTRL_SM8250=n
CONFIG_PINCTRL_SM8350=n
CONFIG_PINCTRL_SM8450=n
CONFIG_PINCTRL_SM8550=n
CONFIG_PINCTRL_SC7280_LPASS_LPI=n
CONFIG_PINCTRL_SM8250_LPASS_LPI=n
CONFIG_PINCTRL_SM8450_LPASS_LPI=n
CONFIG_PINCTRL_SC8280XP_LPASS_LPI=n
CONFIG_PINCTRL_SM8550_LPASS_LPI=n

# Disable clock drivers
CONFIG_QCOM_CLK_APCS_MSM8916=n
CONFIG_QCOM_CLK_APCC_MSM8996=n
CONFIG_IPQ_GCC_5018=n
CONFIG_IPQ_GCC_5332=n
CONFIG_IPQ_GCC_6018=n
CONFIG_IPQ_GCC_8074=n
CONFIG_IPQ_GCC_9574=n
CONFIG_MSM_GCC_8916=n
CONFIG_MSM_MMCC_8994=n
CONFIG_MSM_GCC_8994=n
CONFIG_MSM_GCC_8996=n
CONFIG_MSM_MMCC_8996=n
CONFIG_MSM_GCC_8998=n
CONFIG_MSM_MMCC_8998=n
CONFIG_QCM_GCC_2290=n
CONFIG_QCM_DISPCC_2290=n
CONFIG_QCS_GCC_404=n
CONFIG_SC_DISPCC_8280XP=n
CONFIG_SA_GCC_8775P=n
CONFIG_SA_GPUCC_8775P=n
CONFIG_SC_GCC_7280=n
CONFIG_SC_GCC_8180X=n
CONFIG_SC_GCC_8280XP=n
CONFIG_SC_GPUCC_8280XP=n
CONFIG_SC_LPASSCC_8280XP=n
CONFIG_SDM_CAMCC_845=n
CONFIG_SDM_GCC_845=n
CONFIG_SDM_GPUCC_845=n
CONFIG_SDM_VIDEOCC_845=n
CONFIG_SDM_DISPCC_845=n
CONFIG_SDM_LPASSCC_845=n
CONFIG_SM_CAMCC_8250=n
CONFIG_SM_DISPCC_6115=n
CONFIG_SM_DISPCC_8250=n
CONFIG_SM_DISPCC_8450=n
CONFIG_SM_DISPCC_8550=n
CONFIG_SM_GCC_6115=n
CONFIG_SM_GCC_8150=n
CONFIG_SM_GCC_8250=n
CONFIG_SM_GCC_8350=n
CONFIG_SM_GCC_8450=n
CONFIG_SM_GCC_8550=n
CONFIG_SM_GPUCC_6115=n
CONFIG_SM_GPUCC_8150=n
CONFIG_SM_GPUCC_8250=n
CONFIG_SM_TCSRCC_8550=n
CONFIG_SM_VIDEOCC_8250=n
CONFIG_CLK_GFM_LPASS_SM8250=n

# Disable interconnect drivers
CONFIG_INTERCONNECT_QCOM_MSM8916=n
CONFIG_INTERCONNECT_QCOM_MSM8996=n
CONFIG_INTERCONNECT_QCOM_QCM2290=n
CONFIG_INTERCONNECT_QCOM_QCS404=n
CONFIG_INTERCONNECT_QCOM_SA8775P=n
CONFIG_INTERCONNECT_QCOM_SC7180=y
CONFIG_INTERCONNECT_QCOM_SC7280=n
CONFIG_INTERCONNECT_QCOM_SC8180X=n
CONFIG_INTERCONNECT_QCOM_SC8280XP=n
CONFIG_INTERCONNECT_QCOM_SDM845=n
CONFIG_INTERCONNECT_QCOM_SM8150=n
CONFIG_INTERCONNECT_QCOM_SM8250=n
CONFIG_INTERCONNECT_QCOM_SM8350=n
CONFIG_INTERCONNECT_QCOM_SM8450=n
CONFIG_INTERCONNECT_QCOM_SM8550=n

# Disable memory mapped GPIO drivers
CONFIG_GPIO_ALTERA=n
CONFIG_GPIO_MB86S7X=n
CONFIG_GPIO_PL061=n
CONFIG_GPIO_WCD934X=n
CONFIG_GPIO_XGENE=n

# Disable Virtual GPIO drivers
CONFIG_POWER_RESET_XGENE=n
CONFIG_POWER_RESET_SYSCON=n
CONFIG_GNSS_MTK_SERIAL=n

# Disable Watchdog Device Drivers
CONFIG_ARM_SP805_WATCHDOG=n
CONFIG_ARM_SBSA_WATCHDOG=n
CONFIG_DW_WATCHDOG=n
CONFIG_ARM_SMC_WATCHDOG=n

# Disable Multifunction device drivers
CONFIG_MFD_BD9571MWV=n
CONFIG_MFD_AXP20X_I2C=n
CONFIG_MFD_HI6421_PMIC=n
CONFIG_MFD_MAX77620=n
CONFIG_MFD_MT6360=n
CONFIG_MFD_MT6397=n
CONFIG_MFD_RK8XX=n
CONFIG_MFD_SEC_CORE=n
CONFIG_MFD_TI_AM335X_TSCADC=n
CONFIG_MFD_TPS65219=n
CONFIG_MFD_WM8994=n
CONFIG_MFD_ROHM_BD718XX=n
CONFIG_MFD_WCD934X=n

CONFIG_REGULATOR_FAN53555=n
CONFIG_REGULATOR_MAX8973=n
CONFIG_REGULATOR_MP8859=n
CONFIG_REGULATOR_MT6315=n
CONFIG_REGULATOR_MT6360=n
CONFIG_REGULATOR_PCA9450=n
CONFIG_REGULATOR_PF8X00=n
CONFIG_REGULATOR_PFUZE100=n
CONFIG_REGULATOR_RAA215300=n
CONFIG_REGULATOR_RK808=n
CONFIG_REGULATOR_TPS65132=n
CONFIG_REGULATOR_TPS65219=n

# Disable media device types
CONFIG_MEDIA_ANALOG_TV_SUPPORT=n
CONFIG_MEDIA_DIGITAL_TV_SUPPORT=n
CONFIG_MEDIA_SDR_SUPPORT=n

# Disable I2C encoder or helper chips
CONFIG_DRM_I2C_NXP_TDA998X=n

# Disable ARM devices
CONFIG_DRM_MALI_DISPLAY=n
CONFIG_DRM_KOMEDA=n

# Disable DRM Drivers
CONFIG_DRM_NOUVEAU=n

# Disable display Interface Bridges
CONFIG_DRM_LONTIUM_LT8912B=n
CONFIG_DRM_LONTIUM_LT9611=n
CONFIG_DRM_LONTIUM_LT9611UXC=n
CONFIG_DRM_ITE_IT66121=n
CONFIG_DRM_NWL_MIPI_DSI=n
CONFIG_DRM_PARADE_PS8640=n
CONFIG_DRM_SAMSUNG_DSIM=n
CONFIG_DRM_SII902X=n
CONFIG_DRM_THINE_THC63LVD1024=n
CONFIG_DRM_TOSHIBA_TC358768=n
CONFIG_DRM_TI_TFP410=n
CONFIG_DRM_TI_SN65DSI83=n
CONFIG_DRM_TI_SN65DSI86=n
CONFIG_DRM_ANALOGIX_ANX7625=n
CONFIG_DRM_I2C_ADV7511=n
CONFIG_DRM_CDNS_MHDP8546=n

CONFIG_DRM_ETNAVIV=n
CONFIG_DRM_HISI_HIBMC=n
CONFIG_DRM_HISI_KIRIN=n
CONFIG_DRM_PL111=n
CONFIG_DRM_LIMA=n
CONFIG_DRM_PANFROST=n

# Disable CODEC drivers
CONFIG_SND_SOC_ADAU7002=n
CONFIG_SND_SOC_AK4613=n
CONFIG_SND_SOC_DA7213=n
CONFIG_SND_SOC_ES7134=n
CONFIG_SND_SOC_ES7241=n
CONFIG_SND_SOC_ES8316=n
CONFIG_SND_SOC_GTM601=n
CONFIG_SND_SOC_MAX98357A=n
CONFIG_SND_SOC_MAX98927=n
CONFIG_SND_SOC_MSM8916_WCD_ANALOG=n
CONFIG_SND_SOC_MSM8916_WCD_DIGITAL=n
CONFIG_SND_SOC_PCM3168A_I2C=n
CONFIG_SND_SOC_RK817=n
CONFIG_SND_SOC_RL6231=n
CONFIG_SND_SOC_RT5640=n
CONFIG_SND_SOC_RT5659=n
CONFIG_SND_SOC_RT5663=n
CONFIG_SND_SOC_RT5682=n
CONFIG_SND_SOC_SGTL5000=n
CONFIG_SND_SOC_TAS2552=n
CONFIG_SND_SOC_TAS571X=n
CONFIG_SND_SOC_TLV320AIC31XX=n
CONFIG_SND_SOC_TLV320AIC32X4=n
CONFIG_SND_SOC_TLV320AIC3X=n
CONFIG_SND_SOC_TS3A227E=n
CONFIG_SND_SOC_WCD9335=n
CONFIG_SND_SOC_WCD934X=n
CONFIG_SND_SOC_WCD938X=n
CONFIG_SND_SOC_WM8524=n
CONFIG_SND_SOC_WM8904=n
CONFIG_SND_SOC_WM8960=n
CONFIG_SND_SOC_WM8962=n
CONFIG_SND_SOC_WM8978=n
CONFIG_SND_SOC_WSA881X=n
CONFIG_SND_SOC_MT6358=n
CONFIG_SND_SOC_NAU8822=n

# Disable USB Host Controller Drivers
CONFIG_USB_XHCI_PCI_RENESAS=n

# Disable MMC/SD/SDIO Host Controller Drivers
CONFIG_MMC_SDHCI_OF_ARASAN=n
CONFIG_MMC_SDHCI_CADENCE=n
CONFIG_MMC_SDHCI_F_SDH30=n
CONFIG_MMC_DW_EXYNOS=n
CONFIG_MMC_DW_HI3798CV200=n
CONFIG_MMC_DW_K3=n
CONFIG_MMC_MTK=n
CONFIG_MMC_SDHCI_XENON=n
CONFIG_MMC_SDHCI_AM654=n

CONFIG_FSL_EDMA=n
CONFIG_MV_XOR_V2=n
CONFIG_COMMON_CLK_RK808=n
CONFIG_FSL_RCPM=n
CONFIG_ARCH_R9A07G044=n
CONFIG_MAX9611=n
CONFIG_NVMEM_RMEM=n
CONFIG_FPGA=n
